p{
  line-height: 1.2em;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
body {
	background: #fff;
	color: #313131;
	min-height: 100vh;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}
a {
    color: #242e31;
    text-decoration: none;
    font-weight: 450;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	height:80px;
	background: linear-gradient(to top left, #ffccff, #fff0cc);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
  display: flex;
  padding: 5px 0;
}
.dline{
    line-height: 2.7;
}
  #a1{
    padding: 10px;
    margin: auto;
    background-color: #FFCCFF;
  }

  aside {
    background: linear-gradient(to top left, #ffccff, #fff0cc);
    padding: 10px;
    width: 40%;
    float: right;
    margin-left: 5px;
  }

  article {
    background: linear-gradient(to top left, #ffccff, #fff0cc);
    padding: 10px;
    width: 90%;
  }

  #img1{
    width: auto;
    height: 140px;
    border-radius: 10px;
  }

  #logo {
    float: left;
    position: fixed;
    left: 33px;
  }
  a:hover{
   color: purple;
  }
  a:active{
   color: white;
  }
  ::placeholder{
    color: gray;
    font-size: 1em;
  }
.header_name{
  padding: 5px;
}
.container{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
}
.content{
	width: 100%;
  padding-top: 110px;
  padding-left: 110px;
  padding-right: 110px;
  padding-bottom: 65px;
  line-height: 34px;
}
.text{
  margin-bottom: 10px;
}

.header__nav {
    position: absolute;
    right: 36px;
    display: block;
}
.header__menu {
    display: flex;
	position: relative;
	z-index: 2;
}
.header__menu li {
	list-style: none;
	margin: 0px 0px 0px 36px;
	color: #000;
	font-size: 16px;
	text-decoration: none;
}
@media(max-width: 900px){
  .content{
    padding-top: 90px;
		padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 70px;
    font-size: 14px;
	}
  .header__nav {
  	display: block;
  	position: absolute;
      top: 55px;
      background: rgb(245, 246, 246);
      box-shadow: #ccc;
      width: 100%;
      box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
      transition: all 0.4s ease;
  	left:-100%;
  }
  .header__menu {
  	display: block;
  }
  .header__nav.open-menu{
      left:0;
  }
  .header__menu li {
  	margin: 40px 0px 40px 33px;
      font-size: 14px;
  	}
  .menu-burger__header {
  	position: fixed;
    right: 0;
      width: 40px;
      height: 35px;
      display: block;
      margin-right: 10px;
     }
  .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
  	height: 3px;
  	width: 100%;
    left: 0;
  	position: absolute;
  	background: #515758;
  	margin: 0 auto;
  }
  .menu-burger__header span{
  	top: 16px;
  }
  .menu-burger__header:after, .menu-burger__header:before{
  	content: '';
  }
  .menu-burger__header:after{
  	bottom: 5px;
  }
  .menu-burger__header:before{
  	top: 5px;
  }
  .menu-burger__header.open-menu span {
  	opacity:0;
      transition: 0.5s;
  }
  .menu-burger__header.open-menu:before {
  	transform: rotate(38deg);
      top: 16px;
      transition: 0.4s;
  }
  .menu-burger__header.open-menu:after {
  	transform: rotate(-38deg);
      bottom: 16px;
      transition: 0.4s;
  }

  header, footer {
  	height: 60px;
  }

  .content-wrapper {
      margin-top: 48px;
  }
  .fixed-pade {
      overflow: hidden;
  }
	.sections{
		display: none;
	}
	.submenu.open-menu{
		display: block;
		left: 20px;
		color: gray;
		font-size: 11px;
	}
  .header_name{
    font-size: 16px;
  }
}

.submenu{
	display: none;
}

.pokazatel-navedeniya {
  position: relative;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.sotsialka {
  display:inline-block;
  width:60px;
  height: 60px;
  background: white;
  margin: 10px;
  border-radius: 30%;
  box-shadow:-5px 5px 15px -5px #f1f1f1;
  overflow: hidden;
  position: relative;
  transition: 0.3s linear;
}

.sotsialka i {
  line-height: 60px;
  font-size: 26px;
  transition: 0.3s linear;
}

.sotsialka:nth-child(1) i {
  color:gray;
}

.sotsialka:nth-child(2) i {
  color:gray;
}

.sotsialka:nth-child(3) i {
  color:gray;
}

.sotsialka:nth-child(4) i {
  color:gray;
}

.sotsialka:hover {
  transform: scale(1.1);
}

.sotsialka:hover i {
  transform: scale(1.2);
  color: #fff;
}

.sotsialka:before {
  content:"";
  position:absolute;
  width:120%;
  height:120%;
  left: -110%;
  top:90%;
}

.sotsialka:nth-child(1)::before {
  background: linear-gradient(to top left, #ffccff, #fff0cc);
}

.sotsialka:nth-child(2)::before {
  background: linear-gradient(to top left, #ffccff, #fff0cc);
}

.sotsialka:nth-child(3)::before {
  background: linear-gradient(to top left, #ffccff, #fff0cc);
}

.sotsialka:nth-child(4)::before {
  background: linear-gradient(to top left, #ffccff, #fff0cc);
}

.sotsialka:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
  top: -110%;
  }
  50% {
  top: -30%;
  }
  100% {
  top: 0%;
  }
}

.box8 {
  height: 100%;
  width: 100%;
  padding: 0 5px;
}

.box8 .cards {
  display: flex;
  place-content: center;
  pointer-events: none;
  flex-wrap: wrap;
}

.box8  .card {
  width: 300px;
  height: auto;
  color: black;
  padding: 1.5rem;
  margin: 15px;
  background-color: #FFCCFF;
  place-content: center;
  pointer-events: auto;
  text-align: center;

  transform: scale(1);
  opacity: 1;
  transition: all 150ms ease-in-out;

}

.box8 .card .card-title {
  position: relative;
  margin-bottom: 5px;
}

.box8  .card .date {
  color: black;
  font-size: 0.9rem;
  margin: 1.1rem;
}

.box8  .card .description {
  font-size: 0.9rem;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.box8  .card:nth-child(even) {
  transform: translateY(8px);
}
.cards:hover > .card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
  border: 0.8vmin solid;
 border-image: conic-gradient(from var(--angle), #f2f3f7, #f56cd9, #f2f3f7, #f56cd9, #f2f3f7) 1;

 animation: 10s rotate linear infinite;
}
.cards:hover > .card:not(:hover) {
  filter: blur(2px);
}
@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

footer{
	width: 100%;
	bottom: 0;
	left: 0;
	height:80px;
	background: linear-gradient(to top left, #ffccff, #fff0cc);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
  display: flex;
  padding: 5px 0;
}
